#header-search-2 .bg {
    background-image: url('../images/sardiniya10.jpg');
    background-repeat: No-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.82;
}

#text-2col-2--0 .bg-wrap {
	background: #11607b;
}
#text-2col-2--2 .bg-wrap {
	background: #11607b;
}#desc-img-list-3col .bg-wrap {
    background-color: #f4f5f6;
}