#desc-text-img-7 .bg-wrap {
    background-color: #222;
}

#header-search-2 .bg {
	background-size: cover;
	opacity: 0.82;
	background-image: url('../images/sardiniya10.jpg');
}#desc-text-img-7--0 .bg-wrap {
    background-color: #222;
}
#desc-text-img-7--1 .bg-wrap {
    background-color: #222;
}
#desc-text-img-7--2 .bg-wrap {
    background-color: #222;
}
#desc-text-img-7--3 .bg-wrap {
    background-color: #222;
}
#header-text .bg {
    background-image: url('../images/bg-46.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:0.25;
}